body{
    width:100%;
    margin:0;
    padding:0;
}

.header{
    height: 100%;
    max-height: auto;
    margin: 0;
    padding: 0;
    background-image: url('https://images.unsplash.com/photo-1511690656952-34342bb7c2f2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=400&q=80');
    background-size:100%;
    background-repeat: no-repeat
}

.card-text {
    padding: 0;
}